/* *,
*::before,
*::after {
  box-sizing: border-box;
}

.book {
  width: 600px;
  max-width: 100%;
  height: 400px;
  max-height: 70vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  perspective: 1500px;
  user-select: none;
}

.page {
  width: 49%;
  height: 98%;
  padding: 20px;
  position: absolute;
  top: 1%;
  left: 50%;
  font-size: 16px;
  line-height: 18px;
  color: black;
  background-color: blanchedalmond;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.15) 0%,
    rgba(0, 0, 0, 0) 10%
  );
  transition: transform 0.5s;
  transform: rotateY(-180deg);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform-origin: left center;
  z-index: 4;

  &:nth-of-type(2n) {
    left: 1px;
    background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.12) 0%,
      rgba(0, 0, 0, 0) 10%
    );
    transform-origin: right center;
    transform: rotateY(0);

    &:not(.cover) {
      left: calc(1% + 1px);
    }
  }

  h2 {
    text-align: center;
  }

  h2 + p::first-letter {
    font-size: 44px;
    float: left;
    height: 44px;
    line-height: 36px;
    vertical-align: baseline;
    margin-right: 6px;
    border-radius: 5px;
  }
}

input[type="radio"] {
  display: none;
}

input:checked {
  & ~ .page {
    transform: rotateY(0);
  }

  & ~ .page:nth-of-type(2n) {
    transform: rotateY(180deg);
  }

  & ~ .page:nth-of-type(2n-1) {
    z-index: 3;
  }

  & ~ .page:nth-of-type(2n-1) ~ .page:nth-of-type(2n-1) {
    z-index: 1;
  }

  & + .page + .page + input + .page {
    z-index: 2 !important;
  }
}

.cover {
  width: 50%;
  height: 100%;
  top: 0;
  border-radius: 0 3px 3px 0;
  background-color: maroon;

  h1 {
    color: #ec5757;
    text-align: center;
    text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.5);
    margin-top: 50%;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 60px;
      position: absolute;
      bottom: -20px;
      margin-left: -30px;
      left: 50%;
      border-top: 1px solid #ec5757;
      box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.5);
    }
  }

  & + .cover {
    border-radius: 3px 0 0 3px;
  }

  &:first-of-type,
  &:last-of-type {
    background-image: none;

    &::before {
      content: "";
      width: calc(100% - 20px);
      height: calc(100% - 20px);
      border: 2px dashed rgba(0, 0, 0, 0.2);
      position: absolute;
      top: 9px;
      left: 9px;
    }
  }
}

<div className="book">
        <input type="radio" name="page" id="page-1" checked />
        <label className="page cover" for="page-3">
          <h1>A Story</h1>
        </label>
        <label className="page cover" for="page-1"></label>
        <input type="radio" name="page" id="page-3" />
        <label className="page" for="page-5">
          <h2>Chapter 1.</h2>
          <p>There once was a story ... </p>
        </label>
        <label className="page" for="page-3">
          <p>About knights and monsters ...</p>
        </label>
        <input type="radio" name="page" id="page-5" />
        <label className="page" for="page-7">
          <p>Castles, kings and princesses ...</p>
        </label>
        <label className="page" for="page-5">
          <p>Love and war ...</p>
        </label>
        <input type="radio" name="page" id="page-7" />
        <label className="page" for="page-9">
          <p>Mystery and intrigue ...</p>
        </label>
        <label className="page" for="page-7">
          <p>And ultimately, betrayal.</p>
          <p>The end.</p>
        </label>
        <input type="radio" name="page" id="page-9" />
        <label className="page cover" for="page-11"></label>
        <label className="page cover" for="page-9"></label>
        <input type="radio" name="page" id="page-11" />
      </div> */

.btns {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  cursor: pointer;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: green;
  background-color: white;
}

.btns:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btns:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btns::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btns::after {
  background-color: #fff;
}

.btns:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btnst {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  cursor: pointer;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: white;
  background-color: blue;
}

.btnst:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btnst:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btnst::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btnst::after {
  background-color: blue;
}

.btnst:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btnsk {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  cursor: pointer;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: white;
  background-color: red;
}

.btnsk:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btnsk:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btnsk::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btnsk::after {
  background-color: red;
}

.btnsk:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
